@font-face {
  font-family: Roboto;
  src:  url('../fonts/Roboto-Regular.ttf') format('ttf'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
.box-datepicker {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 20px;
  margin-top: 14px;
}
.top-content {
  display: flex;
  justify-content: space-between;
}
.content {
  min-height: 757px;
}
