#page-content {
  text-align: center;
  margin-bottom: 500px;
}
.item-home {
  margin-bottom: 20px;
}
.item-home .title {
  padding-bottom: 5px;
}
.icon-sort {
  background: url(../images/ic-sort.png) no-repeat center center;
  width: 12px;
  height: 12px;
  background-size: 100% auto;
  display: inline-block;
}
.icon-sort.desc {
	transform: rotate(180deg);
}
.demo-forms {
  width: 200px;
  margin: 20px auto;
}
.demo-forms .row {
  margin-bottom: 10px;
}
.demo-forms .item-form {
  width: 100%;
}
.list-member {
  margin: 0 auto;
}
.advanced-content {
  text-align: left;
  padding: 0 20px;
}
.box-demo-1 {
  position: relative;
  width: 200px;
}
.box-demo-1 .toggle-box {
  position: absolute;
  top: 15px;
  left: 30px;
  border: 1px solid #333;
  width: 100px;
  background: #ccc;
}
