<app-nav></app-nav>
<h2>My Heroes</h2>
<div>

  <label>Hero name:
    <input #heroName (blur)="add(heroName.value); heroName.value=''" (keyup.enter)="add(heroName.value); heroName.value=''"/>
    Tap enter for add hero
  </label>
</div>
<button (click)="getListHero()">Reset</button>
<ul class="heroes">
  <li *ngFor="let hero of heroes; trackBy: trackByHeroes" (click)="handleHero(hero)">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

The hero's name is {{hero?.name}}

<app-hero-detail (deleteRequest)="deleteHero($event)" [hero]="selectedHero"></app-hero-detail>
