<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>

    <script src="libs/react.development.js" crossorigin></script>
    <script src="libs/react-dom.development.js" crossorigin></script>
    <script src="libs/babel.min.js"></script>

  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>
</html>
